@charset "utf-8";

.menu-text .icon-rank-1 {
    background-image: url("../../statics/image/rank/rank-1.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-2 {
    background-image: url("../../statics/image/rank/rank_2.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-3 {
    background-image: url("../../statics/image/rank/rank_3.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-4 {
    background-image: url("../../statics/image/rank/rank_4.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-5 {
    background-image: url("../../statics/image/rank/rank_5.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-6 {
    background-image: url("../../statics/image/rank/rank_6.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-7 {
    background-image: url("../../statics/image/rank/rank_7.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-8 {
    background-image: url("../../statics/image/rank/rank_8.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-9 {
    background-image: url("../../statics/image/rank/rank_9.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-10 {
    background-image: url("../../statics/image/rank/rank_10.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-11 {
    background-image: url("../../statics/image/rank/rank_11.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-12 {
    background-image: url("../../statics/image/rank/rank_12.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-13 {
    background-image: url("../../statics/image/rank/rank_13.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-14 {
    background-image: url("../../statics/image/rank/rank_14.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-15 {
    background-image: url("../../statics/image/rank/rank_15.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-16 {
    background-image: url("../../statics/image/rank/rank_16.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-17 {
    background-image: url("../../statics/image/rank/rank_17.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-18 {
    background-image: url("../../statics/image/rank/rank_18.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-19 {
    background-image: url("../../statics/image/rank/rank_19.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-20 {
    background-image: url("../../statics/image/rank/rank_20.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-21 {
    background-image: url("../../statics/image/rank/rank_21.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-22 {
    background-image: url("../../statics/image/rank/rank_22.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-23 {
    background-image: url("../../statics/image/rank/rank_23.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-24 {
    background-image: url("../../statics/image/rank/rank_24.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-25 {
    background-image: url("../../statics/image/rank/rank_25.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-26 {
    background-image: url("../../statics/image/rank/rank_26.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-27 {
    background-image: url("../../statics/image/rank/rank_27.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-28 {
    background-image: url("../../statics/image/rank/rank_28.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-29 {
    background-image: url("../../statics/image/rank/rank_29.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-30 {
    background-image: url("../../statics/image/rank/rank_30.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-31 {
    background-image: url("../../statics/image/rank/rank_31.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-32 {
    background-image: url("../../statics/image/rank/rank_32.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-33 {
    background-image: url("../../statics/image/rank/rank_33.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-34 {
    background-image: url("../../statics/image/rank/rank_34.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-35 {
    background-image: url("../../statics/image/rank/rank_35.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-36 {
    background-image: url("../../statics/image/rank/rank_36.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-37 {
    background-image: url("../../statics/image/rank/rank_37.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-38 {
    background-image: url("../../statics/image/rank/rank_38.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-39 {
    background-image: url("../../statics/image/rank/rank_39.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-40 {
    background-image: url("../../statics/image/rank/rank_40.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-41 {
    background-image: url("../../statics/image/rank/rank_41.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-42 {
    background-image: url("../../statics/image/rank/rank_42.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-43 {
    background-image: url("../../statics/image/rank/rank_43.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-44 {
    background-image: url("../../statics/image/rank/rank_44.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-45 {
    background-image: url("../../statics/image/rank/rank_45.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-46 {
    background-image: url("../../statics/image/rank/rank_46.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-47 {
    background-image: url("../../statics/image/rank/rank_47.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-48 {
    background-image: url("../../statics/image/rank/rank_48.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-49 {
    background-image: url("../../statics/image/rank/rank_49.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

.menu-text .icon-rank-50 {
    background-image: url("../../statics/image/rank/rank_50.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 16px !important;
    height: 16px;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
}

#sidebar .member-tree .nav-list{
    width: auto!important;
    overflow: visible;
}